extends ../layout

block content
  h4 #{action} Tag
  if tag
    form(action="/tags/" + tag.id + '/edit', method="POST")
      .input-group.mb-3
        input(type="name", name="tag_name" value=tag.name required).form-control
        .input-group-append
          button(type="submit").btn.btn-primary Submit
  else
    p No Tag Selected
