extends ../layout

block content
  h1= title
  p #{action} Tag
  if tag
    form(action="/tags/" + tag.id + '/edit', method="POST")
      input(type="name", name="tag_name" value=tag.name required)
      button(type="submit") Submit
  else
    p No Tag Selected
  |
  a(href='/tags/') Tags
