extends ../layout

block content
  h4 #{action} Tag 
  form(action="/tags/new", method="POST")
    .input-group.mb-3
      input(type="name", name="tag_name" placeholder="Enter the tag name" required).form-control
      .input-group-append
        button(type="submit").btn.btn-primary Submit
    
